*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width:100vw;
    height:100vh;
    background: #1c1c1c;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.titulo{
    background:red;
}

.section{
    background:blue;
}

