*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width:100vw;
    height:100vh;
    background: #1c1c1c;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

hr{
    padding:4px;
    border:0;
}

#title{
    padding:0;
    border: 1px solid white;
}

.Botones{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80vh;
}

button{
    background: none;
    color: white;
    border: 0;
    transition: all 300ms;
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    transform: scale(1.2);
    font-weight: bold;
    border:0;
    border-radius: 0;
    border-bottom: 2px solid white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    border-bottom: 2px solid white;
}

.section{
    display:flex;
    width:100vw;
    justify-content: space-evenly;
    align-items: center;
}

.alumnosaside{
    width:60vw;
    height: 80vh;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.alumnos {
    width: 30vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.todos{
    font-size:70%;
}

.seleccion {
    background-color: green;
}